<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Customer-Analysis-Round-1" data-toc-modified-id="Customer-Analysis-Round-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Customer Analysis Round 1</a></span></li></ul></div>

## Customer Analysis Round 1

In [35]:
import numpy as np
import pandas as pd

In [36]:
cd files_for_lab

[Errno 2] No such file or directory: 'files_for_lab'
/Users/ummuhandemir/Documents/GitHub/Customer-Analysis-Round-1/files_for_lab

In [37]:
file1 = pd.read_csv('csv_files/file1.csv')
file1['Customer Lifetime Value']=file1['Customer Lifetime Value'].str.rstrip('%')
file1.shape

(4008, 11)

In [38]:
file2 = pd.read_csv('csv_files/file2.csv')
file2.shape
file2['Customer Lifetime Value']=file2['Customer Lifetime Value'].str.rstrip('%')

In [39]:
file3 = pd.read_csv('csv_files/file3.csv')
file3.shape

(7070, 11)

In [40]:
file1.rename(columns={'ST':'state'}, inplace=True)
columns1 = file1.columns
cols1=[]
for i in range(len(file1.columns)):
    cols1.append(file1.columns[i].lower())
#data.columns.lowercase()

file1.columns = cols1
#cols1

In [41]:
file2.rename(columns={'st':'state'}, inplace=True)
columns2 = file2.columns
cols2=[]
for i in range(len(file2.columns)):
    cols2.append(file2.columns[i].lower())
#data.columns.lowercase()
file2.columns = cols2
#cols2

In [42]:
columns3 = file3.columns
cols3=[]
for i in range(len(file3.columns)):
    cols3.append(file3.columns[i].lower())
#data.columns.lowercase()
file3.columns = cols3
#cols3

In [27]:
column_names = ['customer', 'gender','education','income','state','customer lifetime value', 
                'vehicle class', 'monthly premium auto', 'total claim amount',
                'number of open complaints','policy type']

In [28]:
file1_sorted = file1.reindex(columns=column_names)
file2_sorted = file2.reindex(columns=column_names)
file3_sorted = file3.reindex(columns=column_names)

In [29]:
data = pd.DataFrame(columns=column_names)

In [30]:
data=pd.concat([data,file1_sorted,file2_sorted,file3_sorted],axis=0)
data.reset_index(drop=True,inplace=True)
data.head()

,customer,gender,education,income,state,customer lifetime value,vehicle class,monthly premium auto,total claim amount,number of open complaints,policy type
0,RB50392,NaN,Master,0.0,Washington,NaN,Four-Door Car,1000.0,2.704934,1/0/00,Personal Auto
1,QZ44356,F,Bachelor,0.0,Arizona,697953.59,Four-Door Car,94.0,1131.464935,1/0/00,Personal Auto
2,AI49188,F,Bachelor,48767.0,Nevada,1288743.17,Two-Door Car,108.0,566.472247,1/0/00,Personal Auto
3,WW63253,M,Bachelor,0.0,California,764586.18,SUV,106.0,529.881344,1/0/00,Corporate Auto
4,GA49547,M,High School or Below,36357.0,Washington,536307.65,Four-Door Car,68.0,17.269323,1/0/00,Personal Auto

In [31]:
data_dropped = data.drop(['education','number of open complaints'],axis=1)
#data.info()

In [32]:
data['customer lifetime value'].astype('float',errors='ignore')

0                 NaN
1        6.979536e+05
2        1.288743e+06
3        7.645862e+05
4        5.363077e+05
             ...
12069    2.340599e+04
12070    3.096511e+03
12071    8.163890e+03
12072    7.524442e+03
12073    2.611837e+03
Name: customer lifetime value, Length: 12074, dtype: float64

In [33]:
data['customer lifetime value']=pd.to_numeric(data['customer lifetime value'], errors = 'coerce')
data.dtypes
data.head()

,customer,gender,education,income,state,customer lifetime value,vehicle class,monthly premium auto,total claim amount,number of open complaints,policy type
0,RB50392,NaN,Master,0.0,Washington,NaN,Four-Door Car,1000.0,2.704934,1/0/00,Personal Auto
1,QZ44356,F,Bachelor,0.0,Arizona,697953.59,Four-Door Car,94.0,1131.464935,1/0/00,Personal Auto
2,AI49188,F,Bachelor,48767.0,Nevada,1288743.17,Two-Door Car,108.0,566.472247,1/0/00,Personal Auto
3,WW63253,M,Bachelor,0.0,California,764586.18,SUV,106.0,529.881344,1/0/00,Corporate Auto
4,GA49547,M,High School or Below,36357.0,Washington,536307.65,Four-Door Car,68.0,17.269323,1/0/00,Personal Auto

In [34]:
data['customer lifetime value']= data['customer lifetime value'].multiply(100)
data.tail()

,customer,gender,education,income,state,customer lifetime value,vehicle class,monthly premium auto,total claim amount,number of open complaints,policy type
12069,LA72316,M,Bachelor,71941.0,California,2.340599e+06,Four-Door Car,73.0,198.234764,0,Personal Auto
12070,PK87824,F,College,21604.0,California,3.096511e+05,Four-Door Car,79.0,379.200000,0,Corporate Auto
12071,TD14365,M,Bachelor,0.0,California,8.163890e+05,Four-Door Car,85.0,790.784983,3,Corporate Auto
12072,UP19263,M,College,21941.0,California,7.524442e+05,Four-Door Car,96.0,691.200000,0,Personal Auto
12073,Y167826,M,College,0.0,California,2.611837e+05,Two-Door Car,77.0,369.600000,0,Corporate Auto

In [21]:
data_dropped = data.drop_duplicates()
data_dropped.shape

(9138, 11)

In [22]:
filtered = data.query('income < = 0' )
filtered.shape

(2294, 11)