# conda environment : 

We created a conda environment(named DA_env) containing   

  + Scipy   

  + Numpy (included with scipy)

  + Scikit-Learn

  + Pandas

  + Matplotlib

  + Seaborn

to import new packages, just google it and copy paste that on terminal. process y/n: y

conda activate DA_env   everyday activate your environment
conda deactivate        end of the day action

## terminal orders :
* ls - to see what is in the directory
* cd - to see where you are
* cd Name - to change the directory
* echo something - to print something

In [1]:
import numpy as np
import pandas as pd

## to read a csv (comma seperated values) document

In [ ]:

name_you_choose = pd.read_csv('documentname.csv')  # needs pandas

## to read a text file, txt.

In [ ]:
name_you_choose = pd.read_csv("file.txt", sep = "\t")

## to read an excel file.

In [ ]:
name_you_choose = pd.read_excel('filename.xlsxâ€™, sheet_name='Sheet1')
                  pd.read_excel('data for class/file3.xlsx', engine='openpyxl')

# things we can do with files

In [ ]:
file.info()  # gives columns' information, especially types of columns
file.describe() # gives count, mean,std, etc for numerical columns
file.columns() # gives columns as a list
columns=file.columns()

In [ ]:
data = pd.DataFrame(columns=columns)    # create data frame with file.columns

## concatanate files

In [ ]:
data = pd.concat([data,file1,file2,file3,file4],axis=0) # concatanate files back to back.

In [ ]:
# making column names lowercase

cols=[]
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())

#data.columns.lowercase()
data.columns = cols

In [ ]:
data.head()  # first 5 rows
data.tail()  # last 5 rows
data.shape   # number of columns and rows
data.dtypes  # data types of columns
data['gender'].unique() #shows unique values in chosen column

In [ ]:
datanew = data.drop(['controln','hv1'],axis=1)  #drop columns named controln and hv1

In [ ]:
datanew.reset_index(drop=True,inplace=True)  #reset index of concatanated data

In [ ]:
filtered = datanew[(datanew['state']=='FL') & (datanew['gender']=='M')]  #filter data according to columns

filtered = datanew.query('state == "CA" & gender=="F" & avggift>10' )  #another way to filter

# Data Cleaning

In [ ]:
data['hv1'].astype('float',errors='ignore')  #changes the types of columns
data['hv1'] = pd.to_numeric(data['hv1'], errors = 'coerce') #forces to change the types of column

In [ ]:
data['hv1'].value_counts()   #counts the different values in column hv1

In [ ]:
data = data.drop_duplicates()  #drops duplicates

## Extract resulting data frame as csv

In [ ]:
data.to_csv('filename.csv',index=False)

# Nulls

In [ ]:
#data is null = .isna() use this if we have any complete row nulls
data.isna().all(axis=1)

In [ ]:
# this finds what percentage of that row is null
#nulls snapshot table
nullsdf = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nullsdf = nullsdf.rename(columns={'index':'header',0:'proportionnulls'})

In [ ]:
# this shows the nulls of chosen column.
data[data['gender'].isna() == True]

In [ ]:
# This at least turns null into string
data['gender'] = data['gender'].fillna('unknown')

## numeric columns - fill in - fill with mean

In [ ]:
hv1_mean = data['hv1'].mean()
data['hv1']=data['hv1'].fillna(hv1_mean)   # first find the mean of numeric columns,then fill nulls with mean

# function definition - lambda

In [ ]:
data['gender'] = list(map(lambda x: x.upper(), data['gender']))  # makes everything in the list of columns data[gender]
                                                                 # upper case.

In [ ]:
def clean_gender(x):
    if x in ['M','MALE']:
        return 'M'
    elif x.startswith('F'):
        return 'F'
    else:
        return 'unknown'
    
data['gender']= list(map(clean_gender,data['gender']))  #applies clean_gender function to all elts in given column

# Plotting

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
df['gender'].value_counts().plot(kind='bar',color='blue')  #counts the different values and plot them in a bar chart